*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

header{
    border: 2px solid gray;
    height: 120;
    background-color: white;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}

.encabezado{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 120px;
    align-items: center;
    justify-content: center;
    
}
.logo{

    width: 300px;
    height: 80px;
    margin-left: 30px;
}

.foto-encabezado{
    width: 200px;
    height: 90px;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:center;
}

.boton{
    text-decoration: none;
    border-radius: 2px;
    padding: 12px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

.boton:active{
    background-color:rgb(119 191 120) ;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background:radial-gradient(rgb(119 191 120), rgb(48 77 48));
    flex-direction: column; 
}

.contenedor-general{

    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    padding: 30px;
}

.contenedor-producto{

    background: white;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
    border: 2px solid gray;
    border-radius: 5px;
    padding: 30px;
    display: grid;
    justify-content: center;
    transition: transform 0.4s ease;
}

.contenedor-producto:hover{
    transform: scale(1.05);
}

.contenedor-producto img{
    width: 200px;
    height: 200px;
    border: 2px solid black ;
}


footer{
    padding: 10px;
    margin-top: 50px;
    color: white;
    text-align: center;
    display: flex ;
    flex-direction: row;
    justify-content: center;
}